body {
    background: #ffffff;
}

.bg-section {
    overflow-x: hidden;

    .bg-layer-container {
        position: fixed;
        transition: all 0.5s ease-out;

        .bg-layer{
            display: flex;
            flex-direction: row;
            position: absolute;

            img {
                flex: none;
                // width: 100vw;
                height: 100vh;
            }
        }

        #l1 {
            top: 300vh;
        }
        #l2 {
            top: 200vh;
            left: 300vw;
        }
        #l3 {
            top: 300vh;
            left: 500vw;
        }
        #l4 {
            inset: 200vh 600vw;
        }
        #l5 {
            inset: 100vh 600vw;
        }
        #l6 {
            inset: 0vh 600vw;
        }
    }
}